*{
    padding: 10px;
}

.container{

    width: 920px;
    height: 570px;
    background-color: rgb(197, 197, 197);
    display: inline-block;

}

.whitebox {
    background-color: white;
    display: inline-block;
    float: left;

    width: 460px;
    height: 550px;

    margin-right: 20px;
    margin-bottom: 10px;
}

h1 {
    
    width: 400px;
    max-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

    
    background-color: rgb(197, 197, 197);
    

}

img {
    width: 320px;
    display: flex;
    justify-content: center;
    align-content: center;

    padding-top: 10px;
    padding-left: 65px;

}

.texto {
        padding-top: 0px;
        margin-top: 0px;
        text-align: justify;

        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
}